/*==========  General elements  ==========*/
.active:active {
  top: 5px;
}
.site {
    width: 100%;
    overflow: hidden;
}
.textIndent {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
}

.after, .footer .footer-inner-sec:after {
  content: '';
  display: block;
  clear: both;
}

.beforeAbsolute {
  content: '';
  display: block;
  position: absolute;
}

.transition, a {
  transition: all .3s ease-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
}

input[type="submit"] {
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* typograpy */
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  line-height: 2.07;
  font-weight: 300;
  color: #4b4b4b;
  overflow-x: hidden;
}

.welcome_hd {
  color: #df4660;
  font-size: 4.8rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

h1, .h1 {
  color: #010101;
  font-size: 3.125rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  padding: 0;
  margin: 0 0 30px;
}

.logo-hd, .logo-hd {
  padding: 0;
  margin: -19px 0 -14px 1px;
  position: relative;
  z-index: 1000;
  float: left;
  font-size: 0;
  line-height: 0;
}

.logo-hd img, .logo-hd img {
  /*width: 433px;*/
  /*max-width: 433px;*/
}

h2, .h2 {
  color: #2e5d88;
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
  margin: 0 0 30px;
}

h3, .h3 {
  color: #000;
  font-size: 1.875rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.17;
  margin: 0 0 20px;
}

h4, .h4 {
  color: #000;
  font-size: 1.25rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.16;
  margin: 0 0 20px;
}

h5, .h5 {
  color: #000;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  margin: 0 0 20px;
}

h6, .h6 {
  color: #000;
  font-size: 0.8125rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  line-height: 1.16;
  margin: 0 0 20px;
}

p, .p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.9375rem;
  line-height: 2.07;
  font-weight: 300;
  color: #4b4b4b;
  padding: 0 0 20px;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  font-size: 15px;
  line-height: 2.07;
  font-weight: 300;
  color: #4b4b4b;
  list-style: none;
}

.cf_wpb {
  clear: both;
}

.sprite {
  background: url("img/sprite.png") no-repeat 0 0;
}

.lft_line_hdng {
  font-size: 50px;
  color: #000;
  position: relative;
  padding-left: 15px;
}

.lft_line_hdng:after {
  content: '';
  display: block;
  height: 77%;
  border-left: 1px solid #000;
  position: absolute;
  /*left: -3px;*/
  left: -2px;
  top: 13px;
}

img {
  max-width: 100%;
  height: auto;
}

.mgnZero {
  margin: 0 !important;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  padding: 0;
  margin: 0;
}

ul li ul {
  list-style: none;
}

.center {
  text-align: center;
}

.align-left {
  text-align: left !important;
}

.hide, .hidden {
  display: none;
}

.desktop-hide {
  display: none;
}

.mobile-hide {
  display: block;
}

a,
a:hover,
a:visited,
a:active {
  color: #000;
}

hr {
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid #000;
}

*:focus {
  outline: none;
}
.container-fluid{
  max-width: 1378px;
}
/*=========================================
=            main-styling area            =
=========================================*/

/* updates to style .css*/

.footer_wraper {
  position: relative;
  z-index: 2;
}

/* updates to style .css*/


.breadcrumb{
  background-color: transparent;
  padding: 16px 0 0;
  margin-bottom: 18px;
}
.breadcrumb li{
  position: relative;
  max-width: 283px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.breadcrumb a{
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  color: #000;
  letter-spacing: 0.04em;
  text-decoration: none;
}
.breadcrumb > li + li{
  padding-left: 40px;
}
.breadcrumb > li + li:before {
  position: absolute;
  top: 10px;
  left: 16px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-color: transparent transparent transparent #000;
  content: "";
}
.wpb_pg_bnr{
  height: 190px;
  width: 100%;
  background-position: top right;
  background-repeat: no-repeat;
  overflow: hidden;
      background-size: cover;
      background-position: left;
}
.wpb_charte .wpb_pg_bnr{
  background-image: url(img/banner_img_4.jpg);
}
.bnr_hdng{
  display: inline-block;
  background: none;
  overflow: hidden;
  position: relative;
  padding: 64px 83px 64px 46px;
}
.bnr_hdng h1{
  font-size: 50px;
  color: #fff;
  position: relative;
  padding-left: 16px;
  letter-spacing: -0.5px;
}
.bnr_hdng h1:after{
  border-left: 2px solid #fff;

}
.wpb_charte_cntnt{
  position: relative;
  counter-reset: section;
  max-width: 977px;
  margin: 0 auto;
  padding: 107px 0 4px 6px;
}
/*.wpb_charte_cntnt:before{
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  border-top: 2px solid #eee;
  width: 50px;
}*/
.cntnt_box{
  margin-bottom: 26px;
}
.cntnt_box h4{
  font-size: 20px;
  margin-bottom: 33px;
}
.cntnt_box h4:before {
  counter-increment: section;
  content: counter(section);
  display: block;
  top: 0;
  left: 0;
  float: left;
  margin-right: 10px;
  height: 28px;
  width: 30px;
  font-size: 13px;
  color: #fff;
  line-height: 28px;
  border-radius: 50%;
  text-align: center;
  background-color: #2e5d88;
  margin-top: -2px;
}
.cntnt_box p{
  font-size: 15px;
  padding-left: 12px;
}


/* Home Page*/

.home_pg .lft_line_hdng{
  margin-bottom: 65px;
  font-size: 45px;
  margin-top: 2px;
  padding-left: 16px;
}
.home_pg .row{
  margin-bottom: 30px;
}
.home_pg .row:last-child{
  margin-bottom: 47px;
}

.home_pg .row [class^=col-]{
  margin-bottom: 18px;
}
.home_pg .row [class^=col-] > a{
  display: block;
}
.home_pg .row:nth-child(odd){
  position: relative;
  padding-left: 50px;
}
.mssn{
  overflow: hidden;
  position: relative;
  width: 97%;
}
.col-sm-8 .mssn{
  width: 93.5%;
}
.home_pg .row:nth-child(even) .col-sm-8 .mssn{
  margin-left: 7px;
}
.mission_lg,
.mission_sm{
  width: 100%;
  padding-top: 99%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  transition: transform 0.5s;
}
.mission_lg{
  padding-top: 49.5%;
}
.mssn:hover > .mission_sm,
.mssn:hover > .mission_lg{
  transform: scale(1.1);
}
.home_pg .row:nth-child(odd) .col-sm-8 .mssn{
  width: 97.3%;
}
.home_pg .row:nth-child(odd) .col-sm-4 .mssn{
  width: 100.8%;
  float: right;
}

.home_pg .row:nth-child(odd) .col-sm-8 .mission_desc{
  bottom: 28px;
}
.home_pg .row:nth-child(odd) .col-sm-4 .mission_desc{
  bottom: 2px;
  padding: 0 19px 0px;
}
.home_pg .row:nth-child(odd) .col-sm-4 .mission_desc p{
  padding-bottom: 15px;
}
.mission_desc h4{
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 17px;
  line-height: 1.25;
}
.mission_desc p{
  font-size: 1.25rem;
  color: #fff;
  line-height: 1.5;
}
.mission_desc.txt_blk h4,
.mission_desc.txt_blk p{
  color: #000;
}
.mission_desc{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home_pg .col-sm-4 .mssn .mission_desc{
  text-align: center;
  padding: 0 20px 28px;
}
.home_pg .col-sm-8 .mission_desc.txt_rt{
  text-align: right;
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 27px;
  width: 100%;
  right: 0;
}
.home_pg .col-sm-8 .mission_desc.txt_lft{
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (max-width: 1200px) {
  .home_pg .row:not(:last-child){
    margin-bottom: 10px;
  }
  .mission_desc h4 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  .mission_desc p {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 1024px) {
  .video-container{
    margin-bottom: 30px !important;
  }
  .home_pg .lft_line_hdng{
    margin-bottom: 40px;
  }

}

@media screen and (max-width: 991px) {
  .mission_lg {
    padding-top: 48.4%;
  }
  .mission_sm {
    padding-top: 100%;
  }
  .mission_desc h4 {
    font-size: 1.2rem;
  }
  .mission_desc.txt_rt{
    padding-right: 20px;
  }
  .mission_desc.txt_lft{
    padding-left: 20px;
  }
}

@media screen and (max-width: 767px){
  .video-container{
    margin-bottom: 20px;
  }
  .home_pg .lft_line_hdng{
    margin-bottom: 20px;
    font-size: 26px;
    padding-left: 0;
  }
  .col-sm-4 .mssn,
  .col-sm-8 .mssn{
    width: 100%;
    margin-bottom: 15px;
  }
  .home_pg .row:nth-child(odd) .col-sm-4 .mssn{
    width: 100%;
  }
  .mission_sm,
  .mission_lg {
    padding-top: 50%;
    background-position: center;
  }
  .home_pg .row:nth-child(odd) {
    left: 0;
  }
  .home_pg .row,
  .home_pg .row:last-child{
    margin-bottom: 0 !important;
  }

  .home_pg .row:nth-child(even) .col-sm-8 .mssn {
    margin-left: 0;
  }
  .home_pg .row:nth-child(odd) {
    padding-left: 0;
  }
  .home_pg .row:nth-child(odd) .col-sm-8 .mssn {
    width: 100%;
  }
  .mission_desc h4 {
      font-size: 1.6rem;
  }
  .mission_desc p {
      font-size: 0.85rem;
  }
  .home_pg .col-sm-4 .mssn .mission_desc,
  .home_pg .col-sm-8 .mssn .mission_desc{
    padding: 0 15px;
  }
  .home_pg .row:nth-child(odd) .col-sm-8 .mission_desc {
      bottom: 0;
  }


}
@media screen and (max-width: 479px) {
  .mission_desc h4 {
      font-size: 1rem;
  }
  .mission_desc p {
    font-size: 0.75rem;
    padding-bottom: 10px;
    line-height: 1.2;
  }
}

/* missions*/


.wpb_tabs {
  display: table;
  width: calc(100% + 1px);
  background-color: #f0f0f0;
}
.wpb_tabs a {
  line-height: 1.5;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  display: table-cell;
  text-decoration: none;
  padding: 13px 37px 13px 41px;
  transition: none;
  vertical-align: middle;
  border-right: 1px solid #fff;
  transition: all 0.4s;
}
.wpb_tabs a:focus{
  color: #000;
}
.wpb_tabs a:hover,
.wpb_tabs a.active{
  background-color: #2e5d88;
  color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  border-color: transparent;
}
.wpb_tabs a:hover a{
  color: #fff;
}

/* contact */

.contact_pg #main{
  position: relative;
  padding-bottom: 61px;
}

.contact_pg .breadcrumb{
  margin-bottom: 58px;
}

.contact_pg .lft_line_hdng{
  /*padding-left: 17px;
  margin-bottom: 67px;*/
  padding-left: 15px;
  margin-bottom: 69px;
  line-height: 3.8rem;
  letter-spacing: -0.6px;
  font-size: 51px;
}
.contact_pg .lft_line_hdng:after{
  height: 75%;
  top: 13px;
  left: -1px;
}
.anim_ball{
  position: absolute;
  border-radius: 50%;
}
.ball_1{
  top: 0;
  transform: translateY(-64%);
  left: -47px;
  width: 739px;
  height: 700px;
  background-color: #fafafa;
}
.ball_2{
  top: 407px;
  left: 133px;
  width: 141px;
  height: 141px;
  background-color: #587da0;
}
.ball_3{
  bottom: -127px;
  left: 490px;
  width: 293px;
  height: 293px;
  background-color: #cdcdcd;
  z-index: 1;
}
.ball_4{
  bottom: 0px;
  right: -169px;
  width: 376px;
  height: 376px;
  background-color: #829fba;
  z-index: 1;
}
.ball_5{
  bottom: 263px;
  right: 120px;
  width: 87px;
  height: 87px;
  background-color: rgba(112,112,112, .7);
  z-index: 1;
}
.wpb_contact_box{
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
  padding: 60px 51px 2px 50px;
  background-color: #fff;
  width: 100%;
  max-width: 761px;
  margin: auto;
  position: relative;
  z-index: 2;
}
.wpb_contact_box.popup{
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  z-index: 1000;
  /*max-height: 100%;*/
  /*overflow: auto;*/
}
.wpb_contact_box:before{
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  top: 0px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 13px 0 13px 25px;
  border-color: transparent transparent transparent #000;
}
.wpb_contact_box .row:nth-last-child(3){
  margin-bottom: 50px !important;
}
.wpb_contact_box .row:nth-last-child(2){
  margin-bottom: 58px !important;
}
.wpb_contact_box .row:not(:last-child){
  margin-bottom: 19px;
}
.wpb_contact_box .row:last-child{
  margin-bottom: 62px;
}
.wpb_input,
.wpb_textarea{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  color: #000;
  outline: 0;
  font-weight: 500;
  margin-bottom: 19px;
  padding: 1px 0 2px;
}
.wpb_textarea{
  resize: vertical;
  border: 1px solid #000;
  min-height: 140px;
  padding: 16px 23px;
  position: relative;
  margin-bottom: 0;
  margin-top: 1px;
}
.wpb_input:focus,
.wpb_textarea:focus{
  border-color: #829fba;
}
.txta_rsz{
  pointer-events: none;
  position: absolute;
  bottom: 14px;
  right: 23px;
  width: 0;
  height: 0;
  border-style: solid;
  transform: rotate(45deg);
  border-width: 10px 0 10px 12px;
  border-color: transparent transparent transparent #000;
  content: "";
  z-index: 100;
}
.txta_rsz:after{
  content: '';
  display: block;
  background-color: #fff;
  height: 9px;
  width: 18px;
  margin-top: -7px;
  margin-left: -7px;
  transform: rotate(45deg);
}
.captcha{
  padding: 2px 0 0 0;
}
.captcha .g-recaptcha{
  -webkit-transform: scale(.8);
  -ms-transform: scale(.8);
  transform: scale(.8);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}
.wpb_sbmt {
  color: #fff;
  border: 0;
  outline: 0;
  padding: 15px 78px 13px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #000;
  transition: all 0.4s;
  margin: 2px 0 0;
}
.wpb_sbmt:hover{
  background-color: #2e5d88;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
.wpb_form_alert {
  opacity: 0;
  visibility: hidden;
  background: #2e5d88 url(img/form_alert.png) left top no-repeat;
  box-shadow: 0px 0px 70px 0px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: -293px;
  bottom: -29px;
  z-index: 100;
  width: 100%;
  max-width: 720px;
  padding: 44px 29px 34px;
  transition: all 0.4s;
}
#cntct_form.submitted + .wpb_form_alert{
  opacity: 1;
  visibility: visible;
}
#cntct_form.submitted .wpb_sbmt{
  background-color: #2e5d88;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.frm_alrt_txt{
  width: 50%;
  float: right;
  padding-left: 4px;
}
.frm_alrt_txt h4{
  color: #fff;
  font-size: 30px;
  margin-bottom: 33px;
}
.frm_alrt_txt p{
  color: #fff;
  font-size: 15px;
  padding-bottom: 13px;
  line-height: 2;
}
.frm_alrt_lgo{
  float: right;
  margin-bottom: -4px;
}

@media screen and (max-width: 1199px) {
  .ball_3{
    left: 90px;
  }
}
@media screen and (max-width: 1400px) {
  .wpb_form_alert{
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    max-width: 90%;
  }
}

@media screen and (max-width: 767px) {
  .contact_pg #main{
    padding-bottom: 30px;
  }
  .contact_pg .breadcrumb {
    margin-bottom: 15px;
  }
  .contact_pg .lft_line_hdng {
    margin-bottom: 30px;
    font-size: 34px;
    padding-left: 0;
  }
  .wpb_contact_box{
    padding: 40px 15px;
  }
  .wpb_contact_box .row:not(:last-child) {
    margin-bottom: 0px;
  }
  .wpb_contact_box .row:nth-last-child(3) {
    margin-bottom: 15px !important;
  }
  .wpb_contact_box .row:nth-last-child(2) {
    margin-bottom: 0px !important;
  }
  .wpb_contact_box .row:last-child {
    margin-bottom: 0;
  }
  .wpb_input, .wpb_textarea {
    margin-bottom: 20px;
  }
  .captcha{
    margin-bottom: 15px;
  }
  .ball_1,.ball_2,.ball_3{
    left: 0;
  }
  .ball_4{
    right: 0;
  }
  .ball_5{
    display: none;
  }
  .anim_ball{
    height: 150px;
    width: 150px;
  }
  .txta_rsz {
      bottom: 35px;
      right: 22px;
  }
  .frm_alrt_txt h4{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .wpb_form_alert p{
    font-size: 12px;
  }

}

@media screen and (max-width: 640px) {
  .wpb_form_alert{
    background-position: left center;
    background-size: contain;
  }
  .wpb_form_alert:after{
    content: '';
    display: block;
    float: none;
    background-color: rgba(46,93,136,.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
  .frm_alrt_txt{
    width: 100%;
    float: none;
  }
  .frm_alrt_txt > *{
    position: relative;
    z-index: 1001;
  }
  .wpb_sbmt{
    /*padding: 14px 60px 14px;*/
    padding: 10px 60px 10px;
  }
  .captcha {
    height: 54px;
  }
  .captcha .g-recaptcha {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(0.7);
  }
}

@media screen and (max-width: 479px) {
  .wpb_textarea {
    min-height: 110px;
    padding: 5px 10px;
  }
  .wpb_contact_box .row:last-child .col-xs-6{
    width: 100%;
  }
  .wpb_sbmt{
    width: 100%;
  }
}

@media screen and (max-width: 414px) {
  .wpb_form_alert{
    padding: 20px 25px 15px;
  }
  .frm_alrt_txt h4{
    font-size: 18px
  }
  .contact_pg .lft_line_hdng {
    font-size: 26px;
    margin-bottom: 20px;
  }
}

/*  qui sommes */

.qui_sommes {
  max-width: 977px;
  margin: 0 auto;
  padding: 77px 15px 60px 22px;
}

.qui_sommes h2 {
  color: #2e5d88;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding-top: 23px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 75px;
}

.qui_sommes h2:after {
  position: absolute;
  top: 2px;
  left: 0;
  width: 47px;
  height: 0;
  border: 1px solid #2e5d88;
  content: "";
}

.qui_sommes ul {
  padding: 14px 0 0 49px;
}

.qui_sommes ul li {
  color: #000000;
  font: 400 1.25rem 'Montserrat',Arial;
  padding: 0 0 75px 30px;
  letter-spacing: 0.1px;
  position: relative;
}

.qui_sommes ul li:after {
  position: absolute;
  top: 3px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 0 9.5px 12px;
  border-color: transparent transparent transparent #2e5d88;
  content: "";
}
.bar_{
  position: relative;
}
/*.bar_:after{
  position: absolute;
    top: -27px;
    left: -36px;
  width: 47px;
  height: 0;
  border-top: 1px solid #2e5d88;
  content: "";
}*/




/*=================================
=            Home page            =
=================================*/
.main-contents {
  background-color: #fff;
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}
/**
 *
 * header starts
 *
*/
.header {
  background-color: #fff;
  padding: 42px 0 36px;
  position: relative;
  z-index: 1000;
  border-bottom: 1px solid #000;
}

.header .container {
  width: 100%;
  max-width: none;
padding-left: 50px;
    padding-right: 50px;
}

/**
 * main navigation
 */
.main-nav {
  float: right;
  margin: 0;
  padding: 6px 0;
}

.main-nav > ul {
  float: right;
  margin: 0 -21px 0 0;
}
.sub-menu{
  display: none;
}
.secondary-menu{
  display: none;
}

.main-nav > ul > li {
  display: inline-block;
  position: relative;
  text-transform: uppercase;
  font-size: 15px;
  padding: 0 7px;
  font-weight: bold;
  letter-spacing: 0.77px;
}
.main-nav > ul > li.secondary-item{
  display: none;
}
.main-nav > ul > li > a {
  text-decoration: none;
  color: #000;
  position: relative;
  padding: 5.5px 14.8px;
}
.main-nav > ul > li > a:before{
  content: '';
  display: block;
  width: 0;
  height: 100%;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #2e5d88;
  opacity: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
}
.main-nav > ul > li > a:hover:before{
  width: 100%;
  opacity: 1;
  z-index: -1;
}
.main-nav > ul > li.current-menu-item > a, .main-nav > ul > li.current-menu-ancestor > a, .main-nav > ul > li.active > a {
  color: #fff;
  background-color: #2e5d88;
}

.main-nav > ul > li.current-menu-item > a:before, .main-nav > ul > li.current-menu-ancestor > a:before, .main-nav > ul > li.active > a:before {
  display: none;
}

@media only screen and (min-width: 1025px) {
  .main-nav > ul > li > a:hover{
    color:#fff;
  }
  .footer-nav li a:hover:after {
    opacity: 1;
    width: 100%;
  }

  .main-nav > ul > li:not(.current-menu-item):hover > a:before,
  .main-nav > ul > li:not(.current-page-ancestor):hover > a:before {
    width: 100%;
    height: 100%;
  }

  .main-nav > ul > li.menu-item-has-children:hover > a {
    background-color: #fff;
    color: #000;
  }

  .main-nav > ul > li > ul > li > a:hover {
    color: #fff;
    background-color: #826c92;
    border-color: #d4d5d5;

  }

  .main-nav > ul > li:hover > ul {
    top: 100%;
    visibility: visible;
    opacity: 1;
  }

  .hover-color:hover {
    color: #826c92;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1378px;
  }
}
@media only screen and (min-width: 1700px) {

}
@media only screen and (max-width: 1199px) {
  .main-nav > ul > li {
    font-size: 16px;
  }

  .main-nav > ul > li > a {
    padding: 5px 9px 5px;
  }

  .main-nav > ul > li > ul {
    margin-top: 4px;
  }
}



/**
 *
 * header ends and footer starts
 *
*/

.footer .footer-inner-sec {
  padding: 79px 0 0 0;
  margin: 0 -25px;
}

.footer .footer-inner-sec:before {
  content: '';
  display: block;
  width: calc(100% - 50px);
  margin: 0 auto;
}

.footer .footer-inner-sec .foooter-sub-sec {
  width: 33.33%;
  padding: 0 25px;
  float: left;
}

.footer .footer-inner-sec .foooter-sub-sec h4 {
  color: #000;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 30px;
  letter-spacing: 0.5px;
  word-spacing: 2px;
}

.footer .video-post {
  padding: 6px 0 0 0;
  max-width: 306px;
}

.footer .video-post a {
  text-decoration: none;
  display: inline-block;
  position: relative;
  padding-left: 46px;
}
.footer .video-post a:hover {
  color: #2e5d88;
}
.footer .video-post a:before {
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  background: url("img/arrow.svg") no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: -9px;
  left: 0;
}

.footer .video-post a h3 {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  /*letter-spacing: -0.2px;*/
  letter-spacing: 0;
  margin: 0 0 3px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.footer .video-post a p {
  color: #4b4b4b;
  font-size: 13px;
  line-height: 1.62;
  /*letter-spacing: -0.3px;*/
  letter-spacing: 0;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.footer .video-post a:hover p,
.footer .video-post a:hover h3 {
  color: #2e5d88;
}
.ticker {
  margin: -10px 0 0;
  padding: 10px 0 0;
  width:100%;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.ticker ul {
  width: 100%;
  position: relative;
}

.ticker ul li {
  width: 100%;
  display: none;
}
.event-nav{
  padding: 0;
  margin: 0;
}
.event-nav li{
  list-style: none;
  padding: 0;
}
.footer .contact-btn {
  color: #000;
  font-weight: bold;
  font-size: 13px;
  text-decoration: none;
  position: relative;
  padding-left: 53px;
  display: inline-block;
  margin-bottom: 33px;
  /*letter-spacing: -0.3px;*/
  letter-spacing: 0;
  top: -3px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.footer .contact-btn:hover{
  color: #2e5d88;
}
.footer .contact-btn:before {
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  background: url("img/notification_icon.svg") no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  left: 0;
  top: -4px;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}

.footer .contact-btn:after {
  content: '';
  opacity: 0;
  background: url("img/comment-processing-outline_2.svg") no-repeat 0 0;
}
.footer .contact-btn:hover:before{
  background: url("img/comment-processing-outline_2.svg") no-repeat 0 0;
  background-size: 100%;
}
.footer-nav li {
  font-size: 13px;
  font-weight: bold;
  margin: 0 0 15px;
  letter-spacing: 0.4px;
}

.footer-nav li a {
  color: #000;
  display: inline-block;
  border-bottom: 2px solid #e6e6e6;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  text-decoration: none;
  padding: 0;
  position: relative;
}
.footer-nav li a:hover,
.footer-nav li.current-menu-item a {
  color: #2e5d88;
}
.footer-nav li a:after {
  content: '';
  display: block;
  width: 0;
  border-bottom: 2px solid #2e5d88;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: -2px;
  -webkit-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
}
.footer-nav li.current-menu-item a:after{
  opacity: 1;
  width: 100%;
}
.copyrights {
  padding: 56px 50px 58px;
  width: auto;
  text-align: right;
  color: #fff;
  float: right;
  border-radius: 0;
  width: 552px;
  position: relative;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-right: 26px;
  margin-top: -26px;
  letter-spacing: 0.6px;
  font-size: 13px;
}
.copyrights:after{
  background-color: #2e5d88;
  position: absolute;
  top: 0;
  left: -10px;
  width: 600px;
  height: 370px;
  content: '';
  z-index: -1;
  border-radius: 337px 0 0 0;
}
.copyrights *{
  position: relative;
  z-index: 1;
}
.copyrights a {
  color: #fff;
  font-weight: 300;
  display: inline-block;
  border-bottom: 2px solid #fff;
  text-decoration: none;
  line-height: 1;
  padding-bottom: 7px;
  margin: 0 0 12px;
}
.copy-sep{
  color: #fff;
  padding: 0 5px;
}

/**
 *
 * footer ends and hero section starts
 *
*/

.video-container{
  height: 767px;
  margin-bottom: 70px;
  width: 100%;
  overflow: hidden;
}
.hero_banner{
  padding: 40px 0;
  height: 767px;
  position: relative;
  width: 100vw;
  overflow: hidden;
}
.hero_banner video{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}
.video-container .slick-dots li {
    width: 16px;
    height: 16px;
    margin: 0 10px;
    display: inline-block;
}
.video-container .slick-dots{
  position: absolute;
  bottom: 37px;
  left: 50%;
  -webkit-transform: translateX(-49%);
  transform: translateX(-49%);
  text-align: right;
  max-width: 1348px;
  width: 100%;
}
.video-container .slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0px;
    font-size: 0px;
    color: transparent;
    padding: 5px;
    cursor: pointer;
}
.video-container .slick-dots li button {
    width: 16px;
    height: 16px;
    background: #dfdfdf;
    border-radius: 50%;
    font-size: 0;
    line-height: 0;
    opacity: 1;
}
.video-container .slick-dots li.slick-active button{
  background: #000000;
}
.slider-content{
  height: 100%;
  position: relative;
  z-index: 1;
}
.slider-inner{
  width: 610px;
}
@media only screen and (max-width:1024px) {
  .home_pg .row:last-child{
    margin-bottom: 10px;
  }
  .footer .footer-inner-sec{
    padding-top: 40px;
  }
}
@media (min-width: 768px){
  .slider-inner {
      min-height: 646px;
      padding: 0px 73px 0 50px;
      max-width: 650px;
      opacity: 1;
      font-size: 18px;
      position: relative;
  }
  .slider-inner:before{
    width: 800px;
    height: 800px;
    border-radius: 50%;
    border:121px solid rgba(46, 93, 136, .8);
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform:translate(-53.7%, -49.3%);
    transform:translate(-53.7%, -49.3%);
    content: '';
    box-sizing: content-box;
    z-index: -1;
  }
}
.slider-inner {
      width: 100%;
    height: 99%;
    padding: 0 12px 0 0;
    color: #fff;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: relative;
}
.slider-inner h2{
  font: 700 70px 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.1;
  color: #fff;
  margin-bottom: 42px;
  color:;
}
.slider-inner p{
  font: 300 40px 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  color: #fff;
  padding-bottom: 43px;
  padding-right: 20px;
}
.slider-inner-content{
  padding-left: 50px;
  width: 100%;
}
.more-btn{
  display: inline-block;
  padding: 10px 10px 10px 47px;

  font: 700 16px 'Montserrat', Arial, Helvetica, sans-serif;
  line-height: 1.25;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  color: #fff !important;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  position: relative;
}
.more-btn:hover{
  color: #2e5d88 !important;
  text-decoration: none;
}
.more-btn:before{
  content:'';
  display: block;
  position: absolute;
  left: 1px;
  top: 3px;
  width: 30px;
  height: 30px;
  background: url(img/white_arrow.svg) no-repeat 0 center;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.more-btn:hover:before{
  color: #fff;
  left: 5px;
}

.bnr_hdng{
  background: none !important;
  overflow: hidden;
  position: relative;
  /*padding: 65px 160px 64px 46px !important;*/
  padding: 60px 160px 64px 47px !important;
}
.bnr_hdng h1{
  margin: 0;
  position: relative;
  z-index: 10;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration:2s;animation-fill-mode:both;
}

.bnr_hdng:after {
    content: '';
    width: 520px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -347px;
    background: #000;
    border-radius: 0 500px 500px 0;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.bnr_hdng:before {
    content: '';
    width: 608px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -193px;
    margin-left: -373px;
    background: rgba(0,0,0, .2);
    border-radius: 0 628px 628px 0;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 1.5s;
    animation-fill-mode: both;
}
@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  95% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
  }

  95% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  70% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 1200px ) and (max-width: 1370px) {
  .video-container{
    margin-top: -1px;
  }
}
@media screen and (max-width: 767px) {
    .slider-inner h2{
      font-size: 42px;
    }
    .slider-inner-content{
      padding-left: 0;
    }
    .slider-inner p{
      font-size: 30px;
    }
    .hero_banner,.video-container{
      /* height: 450px; */
      margin-bottom: 30px;
      height: 340px;
    }
    .slider-inner{
      padding-left: 0;
      padding-right: 0;
    }
    .video-container .slick-dots{
      /*text-align: center;*/
      bottom: 6px;
    }
    .hero_banner:before{
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: rgba(0,0,0, .7);
      z-index: 1;
    }
}
@media only screen and (max-width:767px){
  .hero_banner:before{
    background-color: rgba(0,0,0, .4);
  }
  .slider-inner:before{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border:70px solid rgba(46, 93, 136, .8);
    position: absolute;
    top: 50%;
    left: 25%;
    -webkit-transform:translate(-53.7%, -49.3%);
    transform:translate(-53.7%, -49.3%);
    content: '';
    box-sizing: content-box;
    z-index: -1;
  }
}
@media screen and (max-width: 639px){
  .slider-inner p {
    font-size: 22px;
    padding-bottom: 33px;
  }
  .slider-inner h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px){
  .slider-inner p {
    font-size: 18px;
  }
  .slider-inner h2 {
    font-size: 30px;
  }
}

/**
 *
 * hero ends
 *
*/
/*=============================================>>>>>
= Recruitment page =
===============================================>>>>>*/
.recruitment-container{
  position: relative;
  padding: 0 0 58px 0;
  /*max-width: 1239px;*/
  /*padding: 0 0 58px 535px;*/
}
.recruitment-container:after{
  content: '';
  display: block;
  clear: both;
}
.floating-sec{
  position: sticky;
  margin-left: 53px;
  top: 64px;
  margin-top: 64px;
  width: 404px;
  float: left;
  transition: all .3s linear;
  /*bottom: 300px;*/
}

.floating-sec.nextPos{
  position: absolute !important;
  top:calc(100% - 362px) !important;
}
.floating-text{
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #fff;
  font-size: 31px;
  font-weight: bold;
  text-align: center;
  display: block;
  width: 100%;
  overflow: hidden;
  line-height: 30px;
  background: url('img/three-arrows.svg') no-repeat right 0;
}
.secondary-img-container{
  position: relative;
}
.secondary-img{
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
}
.recruitment-info{
  padding: 209px 0 0 76px;
  width: calc(100% - 535px);
  float: right;
  max-width: 780px;
  margin-right: 111px;
}
.recruitment-info:after{
  content: '';
  display: block;
  clear: both;
}
.recruitment-info-nav{
  margin: 0 0 8px;
}
.recruitment-info-nav li{
  list-style: none;
      padding: 0 0 34px;
}
.recruitment-info-nav li h4{
  margin: 0 0 5px;
}
.recruitment-info-nav li p{
  padding: 0;
  margin-left: 0;
}
/*info box*/
.info-box{
  width: 430px;
  background-color: #2e5d88;
  padding: 10px 30px 14px 32px;
  float: right;
  margin: 0 0 74px;
  max-width: 100%;
}
.info-box p{
  color: #fff;
  padding: 0;
  margin: 0;
}
.further-details{
  clear: both;
}
.further-details h3{
  letter-spacing: -0.1px;
  margin: 0 0 31px;
}
.detail-link{
  text-decoration: none;
  font-size: 16.5px;
  color: #000;
  position: relative;
  margin-left: 46px;
  text-transform: uppercase;
  font-weight: bold;
}
.detail-link:hover{
  color: #2e5d88;
  text-decoration: none;
}
.detail-link:before {
  content: '';
  display: block;
  width: 29px;
  height: 29px;
  background: url("img/arrow.svg") no-repeat 0 0;
  background-size: 100%;
  position: absolute;
  top: -4px;
  left: -46px;
}
.wpb_pg_bnr{
  position: relative;
}
.bnr-sub-heading{
  position: absolute;
  right: 0;
  top: 50%;
  width: 50%;
  vertical-align: middle;
  top: 50%;
  padding: 12px 30px 10px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  max-width: 689px;
}
.wpb_pg_bnr h3{
  color:#fff;
  margin: 0;
  max-width: 550px;
  letter-spacing: -0.2px;
  line-height: 1.167;
  word-spacing: 0.3px;
}
.hd_adj .bnr_hdng:after {
    content: '';
    width: 590px;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -347px;
    background: #000;
    border-radius: 0 500px 500px 0;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    animation-duration: 2s;
    animation-fill-mode: both;
}
.hd_adj .bnr_hdng:before {
  content: '';
  width: 608px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -193px;
  margin-left: -303px;
  background: rgba(0,0,0, .2);
  border-radius: 0 628px 628px 0;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  animation-duration: 1.5s;
  animation-fill-mode: both;
}
/*=======QUI SOME=======*/
  .qui_sommes h2 {
      color: #2e5d88;
      font-weight: 600;
      padding-top: 23px;
      position: relative;
      text-transform: none;
      margin-bottom: 47px;
      padding-right: 99px;
  }
  .qui_sommes ul li{
    color: #000000;
    font: 400 1.25rem 'Montserrat',Arial;
    padding: 0 0 62px 30px;
    letter-spacing: 0.2px;
    position: relative;
    line-height: 1.57;
  }
  .qui_sommes ul li:after{
    position: absolute;
    top: 7px;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9.5px 0 9.5px 12px;
    border-color: transparent transparent transparent #2e5d88;
    content: "";
  }
  .qui_sommes {
      max-width: 977px;
      margin: 0 auto;
      padding: 77px 79px 51px 22px;
  }
  .qui_sommes ul li:last-child{
    padding-bottom: 0;
  }
/*=======QUI SOME=======*/
@media screen and (max-width: 1630px){
  .main-nav > ul > li{
      font-size: 14px;

  }
}
@media screen and (max-width: 1580px) {
    .main-nav > ul > li{
      padding: 0 1.8px;
      letter-spacing: 0;
    }
    .main-nav > ul > li > a{
      padding: 5.5px 10px;
    }

}
@media screen and (max-width: 1390px) {
    .logo-hd img, .logo-hd img{
      max-width: 330px;
    }
    .logo-hd, .logo-hd{
      margin-top: 5px;
      margin-bottom: -5px;
      margin-top: -5px;
    }
    .main-nav > ul > li{
      font-size: 15px;
    }
    .main-nav > ul > li>a{
      padding: 5.5px 5px;
    }
}
@media only screen and (max-width:1399px) {
  .recruitment-info{
    margin-right: 0;
    width: calc(100% - 458px);
    float: right;
  }
  .slick-dots{
    padding-right: 50px;
  }
}
@media only screen and (max-width:1199px) {
  .recruitment-container{
    padding: 0 0 58px 0;
  }
  .recruitment-info{
    padding: 64px 0 0 50px;
    width: calc(100% - 340px);
    margin-right: 0;
  }
  .floating-sec{
    width: 340px;
    margin-left: 0;

  }
  .floating-sec.nextPos{
    top: calc(100% - 338px) !important;
  }
  .logo-hd, .logo-hd{
    /*margin-top: 5px;*/
    /*margin-top: 0;*/
    margin: -10px 0;
  }
  .menu-active{
    height: 100%;
  }
  .menu-active body{
    min-height: 100%;
  }
}
@media only screen and (max-width:991px) {
  .wpb_pg_bnr h3{
    font-size:20px;
  }
  .recruitment-container{
    padding: 0 0 30px 0;
  }
  .floating-sec{
    max-width: 240px;
  }
  .floating-sec.nextPos {
    top: calc(100% - 268px) !important;
  }
  .floating-text{
    background-size: auto 60%;
    font-size: 20px;
    background-position: right center;
  }
  .recruitment-info{
    width: calc(100% - 240px);
  }
  .wpb_tabs a{
    width: 50%;
    display: inline-block;
    /* border-right: 0; */
    border-bottom: 1px solid #fff;
    padding: 8px;
    font-size: 13px;
    line-height: 1.5;
  }
  .wpb_tabs a:nth-child(even){
    border-right: 0;
  }
  .wpb_tabs a:last-child{
    border-bottom: 0;
  }
  .bnr_hdng h1{
    font-size: 32px;
  }
  .info-box{
    margin-bottom: 40px;
  }
  .wpb_charte_cntnt{
    padding-top: 60px;
    padding-left: 0;
    padding-right: 0;
  }
  .bar_:after{
    left: 0;
  }
  .padAdj{
    padding-left: 0;
    padding-right: 0;
  }
  .cntnt_box h4{
    margin-bottom: 10px;
  }
  .cntnt_box{
    margin-bottom: 10px;
  }

}
@media only screen and (max-width:767px) {
  /*.bnr-sub-heading{
    display: none;
  }*/
  .recruitment-info-nav li{
    list-style: none;
    padding-bottom: 20px;
  }
  .floating-sec.nextPos {
    top: calc(100% - 262px) !important;
}
}

@media only screen and (max-width:666px) {
  .recruitment-container{
    padding:30px 0 30px;
  }
  .floating-sec{
    max-width: 404px;
    position: relative !important;
    top: 0 !important;
    margin-top: 0;
    max-width: 100%;
  }
  .primery-img{
    opacity: 1 !important;
  }
  .secondary-img{
    opacity: 0 !important;
  }
  .floating-sec.nextPos{
    position: relative !important;
    top: 0 !important;
  }
  .recruitment-info{
    padding:  30px 0 0;
    width: 100%;
    float: none;
    clear: both;
  }
  .info-box{
    max-width: 100%;
    margin-bottom: 30px;
  }
  .detail-link{
    font-size: 12px;
  }
}
/** recrutement popup **/
.recruitment-form{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  padding: 50px 0;
  z-index: -100000;
  opacity: 0;
}
.recruitment-form .wpb_contact_box{
  -webkit-transform: translate(0,-110%);
  -ms-transform: translate(0,-110%);
  transform: translate(0,-110%);
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
}
.form-active .recruitment-form .wpb_contact_box{
  -webkit-transform: translate(0,0);
  -ms-transform: translate(0,0);
  transform: translate(0,0);

}
.form-active .recruitment-form{
  z-index: 1000;
  opacity: 1;
}
.recruitment-form .popup-closer{
    padding: 0;
    overflow: hidden;
    border: 0;
  position: fixed;
  font-size: 0;
  text-indent: 100%;
  white-space: nowrap;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: rgba(0,0,0,.8);
}
.recruitment-form .slct{
  width: 100%;
  border: 0;
  border-bottom: 1px solid #000;
  color: #000;
  outline: 0;
  font-weight: 500;
  margin-bottom: 19px;
  padding: 1px 0 2px;
}

.file-btn-container{
  color: #fff;
  border: 0;
  outline: 0;
  padding: 15px 10px 13px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 0.04em;
  background-color: #000;
  transition: all 0.4s;
  margin: 2px 0 0;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.file-btn-container input[type="file"]{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}
.recruitment-form .infoP{
  padding: 0;
  margin: 0;
  line-height: 1;
}
.file-btn-container:hover{
    background-color: #2e5d88;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
}
.form-active{
  overflow: hidden;
}
@media only screen and (max-width:767px){
  .recruitment-form .infoP{
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .file-btn-container{
    margin:0 0 10px;
  }
  .floating-sec{
    margin-top: 0 !important;
  }
}
/** recrutement popup Ends**/
/*= End of Recruitment page =*/
/*=============================================<<<<<*/
/*=============================================>>>>>
= Event page =
===============================================>>>>>*/
body .hd-br h2{
  letter-spacing: 0.2px;
}
body .hd-br h2:after{
  top:6px;
  border-top: 0.5px solid #2e5d88;
}
body .hd-br h4{
  font-weight: normal;
  padding: 24px 50px 14px 0;
  letter-spacing: 0.3px;
}
body .hd-br strong{
  display: block;
  letter-spacing: 0;
}

/*= End of Event page =*/
/*=============================================<<<<<*/
/*=============================================>>>>>
= events empty page =
===============================================>>>>>*/
.events{
  padding: 105px 0 21px;
}
.events .event:nth-child(odd){
  margin-top: -30px;
}
.event{
  padding-bottom: 32px;
}
.event-inner-sec{
  background-repeat: no-repeat;
  position: relative;
  padding: 0 0 106px;
  /* height: auto !important; */
  min-height: 348px;
  overflow: hidden;
  display: block;
  text-decoration: none !important;
}
.event-bg{
  background-size: cover;
  -webkit-transition: all .3s linear;
  -o-transition: all .3s linear;
  transition: all .3s linear;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  opacity: .2;
  background-position: center center;
}
.event-inner-sec:hover .event-bg{
  transform: scale(1.08);
  opacity: .5;
}
.event-inner-sec:hover{
  background-size: 108%;
}

.event-inner-sec h3{
  text-transform: uppercase;
  max-width: 422px;
  margin: 0 0 12px;
  letter-spacing: 1.5px;
  word-spacing: 1.1px;
}
.event-inner-sec p{
  color:#000;
  padding: 0;
  max-width: 430px;
  margin: 0 0 0 -3px;
}
.event-text-block{
  padding: 45px 40px 0 43px;
  position: relative;
}
.event-text-block:after{
  content: '';
  display: block;
  clear: both;
}
.event-schedule{
  padding: 0 0 31px;
  margin: 0;
  position: absolute;
  right: 36px;
  bottom: 0;
}
.event-schedule:before{
  content: '';
  display: block;
  height: calc(100% - 7px);
  bottom: 0;
  left: 0;
  position: absolute;
  border-left: 1px solid #000;
}
.event-schedule li{
  list-style: none;
  display: inline-block;
  padding: 0 0 0 23px;
  font-weight: bold;
  font-size: 15px;
  line-height: 1.67;
  color: #000;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.event-schedule li span{
  display: block;
}
.no-more-event-msg{
  /*padding: 44px 0 16px;*/
  padding-top: 45px;
  padding-bottom: 15px;
}
.no-more-event-msg h4{
  letter-spacing: 1px;
}
@media only screen and (max-width:1199px) {
  /*.event-inner-sec{
    padding: 0 0 140px;
  }*/
  .event-schedule{
    padding-bottom: 20px;
  }
  .event-schedule li{
    margin-bottom: 10px;
    font-size: 12px;
  }
}
@media only screen and (max-width:991px) {
  .events{
    padding-top: 50px;
  }
  .event-inner-sec{
    min-height: inherit;
    height: auto !important;
  }
  .events .event:nth-child(odd){
    margin-top: 0;
  }
  html{
    font-size: 17px;
  }
}
@media only screen and (max-width:767px) {
  html{
    font-size: 16px;
  }
  .events{
    padding-bottom: 0;
  }
  .event-inner-sec{
    padding-bottom: 0;
  }
  .event-schedule{
    position: relative;
    float: right;
    margin: 20px 0 0;
  }
  .event-inner-sec h3{
    min-height: inherit;
  }
  .no-more-event-msg{
    padding-top: 5px;
    padding-bottom: 15px;
  }
  .event-inner-sec p{
    margin-left: 0;
  }
}
@media only screen and (max-width:567px) {
  .event-text-block{
    padding: 30px 30px 0 30px;
  }
  .event-schedule li{
    display: block;
  }
}
/**
 *
 * pagination
 *
*/
.pagination-wrapper{
  text-align: center;
  padding: 38px 0 38px;
  clear: both;
}
.pagination-wrapper a,
.pagination-wrapper span {
  display: inline-block;
  vertical-align: middle;
  min-width: 38px;
  height: 34px;
  line-height: 31px;
  border: 1px solid #e6e6e6;
  text-align: center;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0 0px;
  font-size: 13px;
  color: #000;
  text-decoration: none;
}

.pagination-wrapper a.active,
.pagination-wrapper span.active,
.pagination-wrapper a:hover {
  color:#fff;
  border-color: #000;
  background-color: #000;
}
.pagination-wrapper a.page-extreem-left,
.pagination-wrapper a.page-extreem-right{
  width: 48px;
}
.pagination-wrapper a.page-extreem-left:before{
  content: '❮❮';
  display: inline-block;
  vertical-align: top;
}
.pagination-wrapper a.page-extreem-right:before{
  content: '❯❯';
  display: inline-block;
  vertical-align: top;
}
@media only screen and (max-width:567px) {
  .pagination-wrapper{
    padding: 10px 0 40px;
    font-size: 0;
  }
}
/*= End of events page =*/
/*=============================================<<<<<*/



/*=====  SPECIFICATION PAGE  ======*/
.specifications {
  max-width: 977px;
  margin: 0 auto;
  padding: 77px 15px 60px 22px;
}

.specifications h2 {
  color: #2e5d88;
  font-weight: 600;
  letter-spacing: 0.3px;
  padding-top: 23px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}

.specifications h2:after {
 position: absolute;
 top: 3px;
 left: 3px;
 width: 47px;
 height: 0;
 border-top: 1px solid #2e5d88;
 content: "";
}

.specifications h4 {
  color: #000000;
    padding: 60px 57px 0 0;
    line-height: 1.56;
}

.specifications ul {
  padding: 12px 0 0 49px;
}

.specifications ul li {
  color: #000000;
  font: 400 1.25rem 'Montserrat',Arial;
  padding: 0 0 38px 30px;
  letter-spacing: 0.1px;
  position: relative;
}

.specifications ul li:after {
  position: absolute;
  top: 4px;
  left: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 0 9.5px 12px;
  border-color: transparent transparent transparent #2e5d88;
  content: "";
}

.specifications .spec_inner {
background: #f0f0f0;
    padding: 33px 52px 30px 36px;
    width: 94%;
    float: right;
    margin-right: 6px;
    margin-top: 38px;
}

.specifications .spec_inner p {
  color: #000000;
  font: 400 1.25rem 'Montserrat',Arial;
  line-height: 1.57;
  letter-spacing: 0.36px;
  padding-bottom: 0;
}

/*=====  SPECIFICATION PAGE  ======*/


/*=====  mission PAGE  ======*/
.mission {
  max-width: 977px;
  margin: 0 auto;
  padding: 76px 15px 16px 23px;
}

.mission h2 {
  color: #2e5d88;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  padding-top: 24px;
}

.mission h2:after {
  position: absolute;
  top: 4px;
  left: 2px;
  width: 47px;
  height: 0;
  border-top: 1px solid #2e5d88;
  content: "";
}

.mission h4 {
  color: #000000;
  padding: 61px 50px 0 0;
  line-height: 1.57;
}

.mission ul {
  padding: 17px 0 0 46px;
}

.mission ul li {
  color: #000000;
  font: 400 1.25rem 'Montserrat',Arial;
  padding: 0 0 38px 30px;
  letter-spacing: 0.1px;
  position: relative;
}

.mission ul li:after {
  position: absolute;
  top: 3px;
  left: 1px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 0 9.5px 12px;
  border-color: transparent transparent transparent #2e5d88;
  content: "";
}

/*=====  mission PAGE  ======*/

/*=====  mission_benchmark PAGE  ======*/

.mission_benchmark {
  max-width: 977px;
  margin: 0 auto;
  padding: 75px 15px 30px 23px;
}

.mission_benchmark h2 {
  color: #2e5d88;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  padding-top: 25px;
}

.mission_benchmark h2:after {
  position: absolute;
  top: 5px;
  left: 2px;
  width: 47px;
  height: 0;
  border-top: 1px solid #2e5d88;
  content: "";
}

.mission_benchmark h4 {
  color: #000000;
  padding: 62px 50px 13px 0;
  line-height: 1.5;
}


/*=====  mission_benchmark PAGE  ======*/

/*=====  roadmap PAGE  ======*/
.road_map {
  max-width: 977px;
  margin: 0 auto;
  padding: 75px 0px 7px 23px;
}

.road_map h2 {
  color: #2e5d88;
  font-weight: 600;
  letter-spacing: 0.1px;
  text-transform: uppercase;
  margin-bottom: 0;
  position: relative;
  padding-top: 25px;
}

.road_map h2:after {
  position: absolute;
  top: 5px;
  left: 2px;
  width: 47px;
  border-top: 1px solid #2e5d88;
  content: "";
}

.road_map h4 {
  color: #000000;
  padding: 62px 47px 0 0;
  line-height: 1.56;
}

.road_map ul {
  padding: 19px 0 0 47px;
}

.road_map ul li {
  color: #000000;
  font: 400 1.25rem 'Montserrat',Arial;
  padding: 0 0 41px 29px;
  letter-spacing: 0.2px;
  position: relative;
}

.road_map ul li:after {
  position: absolute;
  top: 3px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 0 9.5px 12px;
  border-color: transparent transparent transparent #2e5d88;
  content: "";
}

.road_map .analyse {
  padding-top: 11px;
  margin-bottom: 17px;
}

/*=====  roadmap PAGE  ======*/


/*=====  audit PAGE  ======*/

.audit {
  max-width: 977px;
  margin: 0 auto;
  padding: 77px 15px 60px 23px;
}

.audit h2 {
  color: #2e5d88;
  font-weight: 600;
  letter-spacing: 0.1px;
  padding-top: 23px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 0;
}

.audit h2:after {
  position: absolute;
  top: 3px;
  left: 2px;
  width: 47px;
  height: 0;
  border-top: 1px solid #2e5d88;
  content: "";
}

.audit h4 {
  color: #000000;
  padding: 61px 50px 0 0;
  line-height: 1.5;
}

.audit_main{
  padding: 20px 7px 0 50px;
}

.audit_main h4 {
  color: #000000;
  font: 400 1.25rem 'Montserrat',Arial;
  padding: 0 2px 7px 29px;
  line-height: 1.57;
  letter-spacing: 0.23px;
  position: relative;
}

.audit_main p {
  color: #000;
  padding-bottom: 31px;
}

.audit_main h4:after {
  position: absolute;
  top: 7px;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 9.5px 0 9.5px 12px;
  border-color: transparent transparent transparent #2e5d88;
  content: "";
}

.audit .spec_inner {
  /*background: #2e5d88;*/
  background-color: #f0f0f0;
  padding: 31px 195px 30px 36px;
  width: 94.1%;
  float: right;
  margin-top: 33px;
  margin-right: 7px;
  position: relative;
}

.audit .spec_inner:after {
  position: absolute;
  top: 0;
  right: 0;
  width: 195px;
  height: 169px;
  background: url(img/spider_web-grey.png) center center no-repeat;
  content: "";
}

.audit .spec_inner p {
  color: #000;
  font: 400 0.9375rem 'Montserrat',Arial;
  line-height: 2;
  letter-spacing: -0.04px;
  padding-bottom: 0;
}

.audit .spec_inner h4 {
  color: #000;
  padding-top: 0;
  padding-right: 0;
  line-height: 1.75;
  margin-bottom: 19px;
}

/*=====  audit PAGE  ======*/




/*=====  End of Home page  ======*/
/*===========================================
=            miscellaneous style            =
===========================================*/
.general-header {
  padding: 34px 0 0;
}

.general-content {
  padding: 10px 0 35px;
}

.general-content-without-heading {
  padding: 30px 0 30px;
}

.general-footer {
  padding: 0 0 30px;
}

/*=====  End of miscellaneous style  ======*/
/*=====  End of main-styling area  ======*/
/*=============================================>>>>>
= responsive =
===============================================>>>>>*/
/*=====================================
=            media queries            =
=====================================*/

@media only screen and (max-width: 991px) {
  .header {
    text-align: center;
  }

  .main-nav {
    float: none;
  }

  .main-nav > ul {
    float: none;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  .lines-button {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .site{
    padding-top: 123px;
  }
  .header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  .sub-menu{
    display: none !important;
  }
}

@media only screen and (max-width: 1199px) {
  .lines-button {
    position: absolute;
    right: 54px;
    top: 9px;
    display: inline-block;
    padding: 12.5px 6.25px;
    transition: .3s;
    cursor: pointer;
    border-radius: 3.57143px;
    background: transparent;
    box-shadow: none !important;
    padding: 0;
    margin: 30px 0px 0 0;
    width: 46px;
    height: 36px;
    padding-bottom: 6px;
    border: 0;
    z-index: 101;
  }

  .lines-button:focus {
    outline: none;
  }

  .lines-button:hover {
    opacity: 1;
  }

  .lines {
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #000;
    border-radius: 1.78571px;
    transition: 0.3s;
    position: relative;
    /*create the upper and lower lines as pseudo-elements of the middle line*/;
  }

  .lines:before, .lines:after {
    display: inline-block;
    width: 25px;
    height: 2px;
    background: #000;
    border-radius: 1.78571px;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 1.78571px center;
  }

  .lines:before {
    top: 6.25px;
  }

  .lines:after {
    top: -6.25px;
  }

  .lines-button .lines {
    transition: background .3s .6s ease;
  }

  .lines-button .lines:before, .lines-button .lines:after {
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, transform .3s ease;
  }

  .lines-button.close {
    padding-bottom: 0;
    margin: 30px 0px 0 0;
    opacity: 1;
  }

  .lines-button.close .lines {
    transition: background .3s 0s ease;
    background: transparent;
    padding-bottom: 6px;
  }

  .lines-button.close .lines:before, .lines-button.close .lines:after {
    transition: top .3s ease, transform .3s .5s ease;
    top: 0;
    width: 25px;
    background-color: #fff;
  }

  .lines-button.close .lines:before {
    transform: rotate3d(0, 0, 1, 45deg);
  }

  .lines-button.close .lines:after {
    transform: rotate3d(0, 0, 1, -45deg);
  }

  .header {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    text-align: left;
  }

  .main-nav {
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 200px;
    overflow: hidden;
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
    -webkit-backface-visibility: hidden;
    /* Chrome, Safari, Opera */
    backface-visibility: hidden;
    display: none;
    z-index: 101;
  }

  .main-nav .login-signup {
    float: none;
    padding: 0;
    text-align: center;
  }

  .main-nav .login-signup:before {
    display: none;
  }

  .main-nav .login-signup a {
    display: block;
    padding: 15px 20px;
  }

  .main-nav > ul {
    float: none;
  }
  .main-nav > ul > li.secondary-item{
    display: block;
  }
  .main-nav > ul > li {
    display: block;
    padding: 0;
  }

  .main-nav > ul > li:before, .main-nav > ul > li:after {
    display: none;
  }

  .main-nav > ul > li>a {
    display: block;
    padding: 7px 30px;
    color: #fff !important;
  }
  .main-nav > ul > li>a:before{
    display: none;
  }



  .main-nav > ul > li.current-menu-item > a, .main-nav > ul > li.current-menu-ancestor > a {
    background-color: #2e5d88;
    color: #fff !important;
  }

  .main-nav > ul > li > ul {
    position: static;
    background-color: transparent;
    opacity: 1;
    visibility: visible;
    border: 0;
    margin: 0 20px;
  }

  .main-nav > ul > li > ul > li > a {
    color: #fff;
    padding-left: 35px;
    /*padding: 10px 20px 10px 20px;*/
    padding: 10px 20px;
    display: inline-block;
    line-height: 1.4;
  }
  .main-nav > ul > li > ul > li > a:hover {
    background-color: transparent;
    text-decoration: none;
  }
  .secondary-item{
    display: block;
  }
  html.menu-active body{
    overflow: hidden;
  }
  html.menu-active .main-contents {
    /*max-height: 308px;*/
    min-height: inherit;
    overflow: hidden;
  }

  html.menu-active .header {
    position: relative;
    z-index: 2000;
  }

  /*html.menu-active .footer {
    display: none;
  }*/

  html.menu-active .main-contents,
  html.menu-active .header {
    -webkit-transform: translate(-300px, 0);
    -ms-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
  }

  html.menu-active .main-nav {
    width: 300px;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
    -webkit-backface-visibility: visible;
    /* Chrome, Safari, Opera */
    backface-visibility: visible;
    display: block;
    height: 100vh;
    overflow: auto;
    background-color: #000;
    overflow-x: hidden;
  }

  html.menu-active .menu-close-layer {
    display: block;
    width: 101%;
    height: 1000px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,.7);
  }

}
@media screen and (max-width: 767px) {
    .header .container{
      padding: 0 15px;
    }
    .lines-button{
      right: 5px;
    }
}
@media screen and (max-width: 479px) {
  html.menu-active .main-nav{
    width: 250px;
  }
  html.menu-active .main-contents,
  html.menu-active .header {
    -webkit-transform: translate(-250px, 0);
    -ms-transform: translate(-250px, 0);
    transform: translate(-250px, 0);
  }
}

@media only screen and (max-width:991px) {

  html{
    font-size: 16px;
  }
  h2, .h2{
    font-size: 1.9rem;
  }
  p, .p{
    line-height: 1.57;
  }
  .copyrights{
    margin-top: 0;
    padding: 30px 38px;
    width: 500px;
  }
  .hd_adj .bnr_hdng:before, .mis_hd_adj .bnr_hdng:before,.bnr_hdng:before {

    width: 65%;
    margin: 0;
    left: 0;
    top: -102px;
  }
  .hd_adj .bnr_hdng , .mis_hd_adj .bnr_hdng,.bnr_hdng{
    display: block;
    overflow: visible;
    display: table-cell;
    width: 767px;
    height: 190px;
    padding-top: 77px !important;
  }
   .hd_adj .wpb_pg_bnr{
    height: 190px;
  }
  .hd_adj .bnr_hdng:after , .mis_hd_adj .bnr_hdng:after,.bnr_hdng:after{
        left: 0;
    margin-left: 0;
    width: 422px;
  }

  .bnr-sub-heading{
    max-width: 262px;
    width: auto !important;
  }
  /*.........SPECIFICATION code........*/
  .specifications {
    padding: 30px 0;
  }

  .specifications h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
  }

  .specifications ul {
    padding: 4px 0 0 0;
  }

  .specifications ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .specifications ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }

  .specifications .spec_inner {
    margin-top: 10px;
    padding: 20px;
    width: 99%;
    width: 100%;
    margin-right: 0;
  }

  .specifications .spec_inner p {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
  }

  /*.........SPECIFICATION code........*/
  .qui_sommes {
    padding: 30px 15px 15px;
  }

  .qui_sommes h2 {
    margin-bottom: 10px;
  }

  .qui_sommes ul {
    padding: 4px 0 0 0;
  }

  .qui_sommes ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .qui_sommes ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }
  /*.........mission code........*/
  .mission {
    padding: 30px 0;
  }

  .mission h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
  }

  .mission ul {
    padding: 4px 0 0 0;
  }

  .mission ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .mission ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }

  /*.........mission code........*/

  /*.........ROADMAP code........*/

  .road_map {
    padding: 30px 0;
  }

  .road_map h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
    margin-bottom: 0;
  }

  .road_map ul {
    padding: 4px 0 0 0;
  }

  .road_map ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .road_map ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }



  /*.........ROADMAP code........*/

  /*.........audit code........*/

  .audit {
    padding: 30px 0;
  }

  .audit h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
  }

  .audit_main{
    padding: 4px 0 0 0;
  }

  .audit_main h4 {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
    margin-bottom: 10px;
  }

  .audit_main h4:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }

  .audit .spec_inner {
    margin-top: 10px;
    padding: 20px;
    width: 100%;
    margin: 10px 0 0;
  }

  .audit .spec_inner p {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
  }
  .audit_main p{
    padding-bottom: 25px;
  }
  .wpb_tabs{
    width: 100%;
  }
  .wpb_tabs a{
    width: 50%;
    display: inline-block;
    /* border-right: 0; */
    border-bottom: 1px solid #fff;
    padding: 8px;
    font-size: 12px;
    line-height: 1.8;
  }
  .bnr_hdng h1{
    font-size: 28px;
  }
  .lft_line_hdng:after{
    top: 7px;
  }
  .wpb_pg_bnr,.hd_adj .wpb_pg_bnr {
    height: 190px;
  }

  .mission_benchmark {
    padding: 30px 0 0;
  }
  .mission_benchmark.hd-br{
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 20px;
  }

  .mission_benchmark h4 {
    font-size: 0.988rem;
    line-height: 1.3;
    padding:16px 0 0 0;
  }

  .mission_benchmark p {
  }
  .hd-br strong{
    padding-bottom: 10px
  }
  /*.........audit code........*/
  .wpb_tabs a br{
    display: none;
  }
}
@media only screen and (max-width:767px) {

  h1 {
    font-size: 30px;
  }

  /*.........GENERAL CLASSES........*/
  h2, .h2 {
    font-size: 1.625rem;
    line-height: 1.2;
    margin: 0 0 20px;
  }

  h3, .h3 {
    font-size: 1rem;
    line-height: 1;
    margin: 0 0 20px;
  }

  h4, .h4 {
    font-size: 0.9375rem;
    line-height: 1.3;
    margin: 0 0 20px;
  }

  h5, .h5 {
    font-size: 0.9375rem;
    line-height: 1.3;
    margin: 0 0 20px;
  }

  h6, .h6 {
    font-size: 0.8125rem;
    line-height: 1.1;
    margin: 0 0 20px;
  }

  p, .p {
    font-size: 0.8125rem;
    line-height: 1.5;
    padding: 0 0 16px;
    margin: 0;
  }


  /*.........GENERAL CLASSES........*/

  /*.........SPECIFICATION code........*/
  .specifications {
    padding: 30px 0;
  }

  .specifications h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
  }

  .specifications ul {
    padding: 4px 0 0 0;
  }

  .specifications ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .specifications ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }

  .specifications .spec_inner {
    margin-top: 10px;
    padding: 20px;
    width: 99%;
  }

  .specifications .spec_inner p {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
  }

  /*.........SPECIFICATION code........*/
  .qui_sommes {
    padding: 30px 15px 15px;
  }

  .qui_sommes h2 {
    margin-bottom: 10px;
    padding-right: 0;
  }

  .qui_sommes ul {
    padding: 4px 0 0 0;
  }

  .qui_sommes ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .qui_sommes ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }
  /*.........mission code........*/
  .mission {
    padding: 30px 0;
  }

  .mission h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
  }

  .mission ul {
    padding: 4px 0 0 0;
  }

  .mission ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .mission ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }

  /*.........mission code........*/

  /*.........ROADMAP code........*/

  .road_map {
    padding: 30px 0;
  }

  .road_map h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
    margin-bottom: 0;
  }

  .road_map ul {
    padding: 4px 0 0 0;
  }

  .road_map ul li {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
        margin-bottom: 10px;
  }

  .road_map ul li:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }



  /*.........ROADMAP code........*/

  /*.........audit code........*/

  .audit {
    padding: 30px 0;
  }

  .audit h4 {
    font-size: 0.988rem;
    line-height: 1.5;
    padding: 17px 25px 0 0;
  }

  .audit_main{
    padding: 4px 0 0 0;
  }

  .audit_main h4 {
    font-size: 0.963rem;
    padding: 0 0 0 19px;
    margin-bottom: 10px;
  }

  .audit_main h4:after {
    border-width: 7px 0 7px 9px;
    top: 2px;
  }

  .audit .spec_inner {
   margin-top: 10px;
   padding: 20px;
   width: 100%;
   margin: 10px 0 0;
  }

  .audit .spec_inner p {
    font-size: 1rem;
    line-height: 1.4;
    padding: 0;
  }
  .audit_main p{
    padding-bottom: 25px;
  }
  .wpb_tabs a{
    width: 50%;
    display: inline-block;
    /* border-right: 0; */
    border-bottom: 1px solid #fff;
    padding: 8px;
    font-size: 12px;
    line-height: 1.8;
    /* min-height: 59px; */
    vertical-align: middle;
  }
  .bnr_hdng h1{
    font-size: 28px;
  }
  .wpb_pg_bnr {
    height: 140px;
  }
  body .hd_adj .bnr_hdng{
    /* padding-left: 10px !important; */
    /* padding-right: 10px !important; */
    padding: 20px !important;
    display: table-cell;
    vertical-align: middle;
    /* padding-top: 45px !important; */
  }
  .hd_adj .wpb_pg_bnr{
    height: 140px;
  }

  .mission_benchmark {
    padding: 30px 0 0;
  }

  .mission_benchmark h4 {
    font-size: 0.988rem;
    line-height: 1.3;
    padding:16px 0 0 0;
  }

  .mission_benchmark p {
  }

  /*.........audit code........*/
  .footer .footer-inner-sec .foooter-sub-sec{
    display: none;
  }
  .footer hr{
    display: none;
  }
  .footer .footer-inner-sec{
    margin: 0;
    padding-top: 30px;
  }
  .footer .footer-inner-sec .foooter-sub-sec{
    width: 100%;
    margin-bottom: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  .footer-nav li{
    margin-bottom: 12px;
  }
  .footer .footer-inner-sec .foooter-sub-sec h4{
    margin-bottom: 15px;
  }
  .copyrights{
    clear: both;
    margin: 0 -15px;
    text-align: center;
    width: auto;
    padding: 30px 15px;
    float: none;
  }
  .copyrights:after{
    border-radius: 0;
    width: 100%;
    left: 0;
  }
  .footer .contact-btn{
    margin-bottom: 13px;
  }
  .bnr_hdng h1:after{
    display: none;

  }
  .hd-br{
    padding: 30px 15px 0;
  }
  body .hd-br h4{
    margin-bottom: 0;
  }
  .hd_adj .bnr_hdng:before {
      border-radius: 0;
      width: 100%;
      margin: 0;
      left: 0;
      top: 0;

  }
  .hd_adj .bnr_hdng:before, .mis_hd_adj .bnr_hdng:before,.bnr_hdng:before
  {
    width: 100%;
    top: 0;
    border-radius: 0;
  }
  .hd_adj .bnr_hdng, .mis_hd_adj .bnr_hdng ,.bnr_hdng{
    height: 140px;
    padding-top: 57px !important;
    padding: 20px 10px !important;
    vertical-align: middle;
  }
  .bnr_hdng {
    display: block;
    overflow: visible;
    display: table-cell;
    width: 767px;
    height: 140px;
    /* padding: 57px !important; */
    text-align: center;
  }
  hr{
    margin-top: 0;
  }
  .wpb_pg_bnr{
    height: auto;
  }
  .bnr_hdng{
    display: block;
    overflow: visible;
    display: table-cell;
    width: 767px;
    height: 140px;
  }
  .bnr_hdng:before{
    border-radius: 0;
    width: 100%;
    margin: 0;
    left: 0;
    top: 0;
  }
  .bnr_hdng:after{
    width: 100%;
    border-radius: 0;
    width: 100%;
    left: 0;
    top: 0;
    margin: 0;
    display: none;
  }
  .bnr_hdng h1{
    font-size: 30px;
    text-align: center;
    padding-left: 0;
  }
  .lft_line_hdng:after{
    display: none;
  }
  .bnr-sub-heading{
    transform: none;
    padding-bottom: 30px;
    display: block;
    width: 100% !important;
    position: static;
    text-align: center;
    margin: 0;
  }
  .wpb_pg_bnr h3{
    display: block;
    margin: 0;
    max-width: inherit;
    position: relative;
    font-size: 17px;
  }
  .bnr-sub-heading{
    max-width: 100%;
  }
  .bnr_txt_adj{
        display: block;
    width: 100%;
    padding: 30px 0 0 !important;
    height: auto;
  }
}
@media only screen and (min-width:630px) and (max-width: 685px){
  .wpb_tabs a{
      min-height: 59px;
  }
  .wpb_tabs a:first-child,
  .wpb_tabs a:first-child + a{
      min-height: inherit;
  }
}

@media only screen and (max-width: 550px){
  .wpb_tabs a,
  .wpb_tabs a:nth-child(even){
    width: 100%;
    border-right: 0;
  }
  .audit .spec_inner h4{
    line-height: 1.3;
  }
  h2, .h2 {
      font-size: 1.325rem;
  }

}
@media only screen and (max-width: 479px) {
  .logo {
    max-width: 200px;
    margin: -3px 0 6px -2px;
  }

  .specifications .spec_inner {
    width: 100%;
  }

  .audit .spec_inner {
    width: 100%;
    margin-right: 0;
  }
  .lines-button{
    margin: 21px 0px 0 0;
  }
  .header{
    padding: 30px 0 24px;
  }
  .logo-hd{
    margin: -5px 0;
  }
  .logo-hd img, .logo-hd img{
    max-width: 200px;
  }
  .lines-button {
    top: -1px;
  }

}


.custom-cta-box{
  clear: both;
  padding: 50px 0 0;
}

.custom-cta-box:after{
  content: '';
  display: block;
  clear: both;
}
.custom-cta-box h4{
  float: left;
  margin: 0 50px 20px 0;
  padding: 0;
}
.with-dash{
  position: relative;
  padding: 50px 0 25px;
}
.with-dash::before{
  color: #767b8c;
  position: absolute;
  top: 25px;
  left: 2px;
  width: 47px;
  border-top: 1px solid #767b8c;
  content: "";
}
.with-img{
  padding: 50px 0 40px;
}
.with-img img{
  float: left;
  width: auto;
  height: 134px;
  margin: 6px 10px 0 0;
}
.with-img h4{
  float: none;
}
.with-icon{
  position: relative;
  padding: 20px 0 0 60px;
  margin: 50px 0 0;
}
.with-icon::before{
  content: '';
    display: block;
    width: 29px;
    height: 29px;
    background: url(img/notification_icon-light.svg) no-repeat 0 0;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.wpb-floatCtrl{
  padding-left: 49px;
}
.popup-cta{
  color: #fff !important;
  border: 0;
  outline: 0;
  padding: 13.5px 30px;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.04em;
  background-color: #2e5d88;
  transition: all 0.4s;
  margin: 0;
  display: inline-block;
  text-decoration: none !important;
}
.popup-cta:hover{
  background-color: #2e5d88;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5);
  color: #fff;
  text-decoration: none;
}
@media only screen and (max-width:991px){
  .custom-cta-box{
    padding-left: 0;
    font-size: 20px;
  }
}
@media only screen and (max-width:599px){
  .with-img img{
    float: none;
    display: block;
    margin: 0 0 20px;
  }
}
/*=====  End of media queries  ======*/
/*= End of responsive =*/
/*=============================================<<<<<*/
